# Python Virtual Environment
venv/

# Environmental Valiables
.env

# Python bytecode
__pycache__/
*.py[cod]

# SQLite DB
*.db

# Log file
*.log

# Token file
*.json

# Backup file
*.bak

# Sample SQL sentense
#*.sql